.wrapper{
    background-color: burlywood;
    padding: 5px;
}

#yo-yo{
    font-size: 50px; 
    text-align: center; 
    background-color: bisque;
    padding: 20px;
}

.list-item{
    color: red;
}

div{
    justify-content: center;
    align-items: center;
}

#grandparent{
    width: 140px;
    height: 140px;
    background-color: red;
    display: flex;
}

#parent{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
}

#child{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: green;
}

#Button{
    font-size: 30px;
}
#myAddButton{
    font-size: 30px;
}
#myRemoveButton{
    font-size: 30px;
}

#movement {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:0px;}
    75%  {background-color:green; left:0px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}
